

/* NAV BAR STYLE  */
.appBarShift {
  width: calc(100% - 240px) !important ;

  right: 0 !important;
  transition: width 0.25s !important;
}

.appBarClosed {
  transition: width 0.25s !important;
  width: 100% !important ;
}

.AppBarStyle {
  z-index: 1300 !important;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.DrawerStyleClosed {
  width: 60px;
  transition: width 0.25s !important;
  overflow: hidden;
}

.CloseDrawerIcon {
  position: relative;
  left: 90px;
}

.DrawerStyle {
  width: 240px;
  transition: width 0.25s !important;
}

.SearchBarContainer {
  width: calc(100% - 210px);
}

.SearchInputBase {
  width: calc(100% - 50px);
}

.search {
  margin-right: 60px !important;
  text-align: left;
  width: 100%;
  padding-right: 15px;
  margin-left: 20px !important;
  padding: 5px;
  position: relative;
  margin-left: 0;
  margin-right: 16px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.15);
}

.SearchIconContainer {
  display: inline;
}


.SearchBarDropDown {
  width: calc(100% - 247px);
  transform: translate(20px, -54px);
  position: absolute !important;
}

.SearchIcon {
  margin-bottom: -5px;
}
.NavNotiPopOver {
  margin-top: 42px;
}


.NotiContentNoActivity {
  background-color: #efefef;
  max-width: 360px;
  min-height: 376px;
  width: 360px;
  color: #888888;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NotiContentActivity {
  background-color: #efefef;
  max-width: 360px;
  min-height: 376px;
  width: 360px;
  color: #888888;
}

.SearchBarDropDown {
  position: relative;
  top: 100px !important;
}


.NavIconsRight:hover {
  cursor: pointer;
}



.NavIconsRight {
  position: absolute;
  right: 0;
  margin-right: 10px;
}




.ActivePage {
  background: #dedede !important;
}
