.messenger {
  display: grid;
  width: 100%;
  height: 100vh;
  background: #eeeef1;
  grid-template-columns: 300px 1fr;

  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

.MobileAddMessage {
  display: none;
}
@media only screen and (max-width: 900px) {
  .messenger {
    grid-template-columns: 75px 1fr;
  }

  #ConversationToolBar {
    display: none;
  }

  .conversation-search {
    display: none;
  }

  .MobileAddMessage {
    display: block;
  }

  .compose {
    width: calc(100% - 75px) !important;
  }
}
.container {
  padding: 10px;
}

.scrollable {
  overflow-x: disable;
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.sidebar {
  background: white;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.content {
  background: white;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.conversation-list {
  overflow-x: hidden;
}
