.MuiSnackbarContent-message {
  position: relative;
  margin: auto;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background: #f7f7f7;
  margin: 0px;
}

#PostStatus {
  margin-left: 25px;
}

.PostIconStyle {
  position: relative;
  margin: auto;
  margin-right: 0;
}

.TextAllignLeft {
  text-align: left;
}

.PostModal {
  overflow-y: auto;
  height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}

.EditProfileName {
  padding-top: 15px !important;
}

.EditProfileCard {
  padding: 15px !important;
}

.MainBodyStyle {
  margin-right: 10px;
  margin-left: 65px;
  margin-top: 70px;
  opacity: 0;
  transition: opacity 2s;
}

#LogInScreen {
  opacity: 1;
  transition: opacity 1s;
}

@media only screen and (max-width: 500px) {
  .MainBodyStyle {
    opacity: 0 !important;
  }

  #LogInScreen {
    opacity: 0 !important;
  }

  .TurnToLandScape {
    opacity: 1 !important;
    display: block !important;
  }
}

.TurnToLandScape {
  width: 100%;
  display: block;
  text-align: center;
  top: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  display: none;
}

.MainBodyStyleFade {
  opacity: 1;
}

.YourCircle {
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
}

.YourCircleItem {
  background-color: rgb(226, 226, 226);
}

.ProfileQuickStatGrid {
  margin-top: -35px;
}

.SearchResFont {
  width: 100%;
  text-align: center;
  margin-top: 50px !important;
  color: rgba(152, 150, 150, 0.87);
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

.Loader {
  opacity: 1;
  transition: opacity 2s;
}

.LoaderFade {
  opacity: 0;
}

.disappear {
  display: none !important;
}

@media screen and (max-width: 650px) {
  [class*="PostModal"] {
    height: 90%;
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  [class*="MainBodyStyle"] {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.lb-img {
  width: 80vw !important;
  height: 70vh;
}

.Mui-disabled {
  color: #303030 !important;
}

.scrollbar-container {
  height: 100vh !important;
}

.VideoChatContainer {
  /*width: 100vh;*/
  height: 100vh;
}

.RemoteParticipant {
  left: 0;
  width: 100%;
  height: 100%;
}

.RemoteParticipant video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.LocalParticipant {
  width: 300px;
  position: absolute;
  top: 15px;
  right: 15px;
  height: 200px;
}

video {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 900px) {
  .LocalParticipant {
    width: 200px;
    height: 150px;
  }
}

.EndVideoCall {
  position: absolute;
  bottom: 50px;
  left: 50%;
}

.NoParticipant {
  border-radius: 10px;
  color: #f7f7f7;
  width: 75%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.NoPartSpinner {
  margin-bottom: -5px;
  color: white !important;
}
